<h2>Hello from <a href="http://requirejs.org/">require.js</a> and <a href="http://backbonejs.org/">Backbone</a>.
With a little help from <a href="http://gruntjs.com/">Grunt</a>.</h2>
<div class="content" id="content"></div>
<div id="myOtherDiv"></div>


